body {
    border: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    background-color:lightblue;

}

button{
    background-color: whitesmoke;
    font-size: medium;
}

h1 {
    margin: 10;
    padding: 20px 0;
    color:darkblue;

  }